body{


    background-color: #eee;
}
h1{
    margin: 0;
}
.box{
       background-color:wheat;
    width: 400px;
    margin: auto;
    height: 450px;
}
.title{
    color: aliceblue;
    background-color: rgb(15, 14, 14);
    text-align: center;
    padding: 20px;
}
.feild{


      padding: 10px;
}
.feild > label{

   width: 200px;
   display:inline-block;

}
.button{
    margin-top: 20px;
      justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    background-color: black;
    color:aliceblue;
    padding: 8px 5px;
    border-style: none;
}
.maincontainer{
    display: flex;
    width: 100vw;
    margin: auto;
    margin-top: 30px;
}
.feilds{
 display: flex;  
justify-content: space-around;
 
}
.feilds  > label{

   width: 200PX;
    display: inline-block;
    padding: 10PX 30PX;
}